<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <title>Untitled Document</title>
        <style type="text/css">
            body {
                font-family: Calibri, Verdana, Geneva, sans-serif;
                font-size: 14px;
            }
            .container {
                width: 600px;
            }
           
            .left-side, .right-side {
                width: 300px;
            }
            .left-side {
                float: left;
            }
            .right-side {
                float: right;
                margin-top: -18px;
            }
            .clear {
                clear: both;
            }
            .not-registered {
                background-color: #e0e1e2;
                border: thin solid #000;
                padding: 10px;
            }
        </style>
    </head>
 
    <body>
        <div class="container">
            <div class="left-side">
                <p>Dear CUSTOMER,</p>
                <p>
                    Your latest Dais monthly billing statement is now available online for you to review and pay.
                </p>
                <p>
                    Payment is due by <strong>February 20th, 2017.</strong>
                </p>
            </div>
            <div class="right-side">
                 <%= email_image_tag("dais-logo.jpg", size: "300x179") %>
            </div>
            <div class="clear"></div>
            <hr />
            <div id="click-here">                   
                <a clicktracking=off href="https://daisonlinebillpay.daistechnologies.com/esp/security/login?ReturnUrl=https%3a%2f%2fdaisonlinebillpay.daistechnologies.com%2fesp">Click here</a> to view and manage your account online. Once logged in,
                you will be able to view your current and past monthly billing statements, make a payment, view payment history, and more.
            </div>
            <p>
                Call us today to enroll in AutoPay, if you haven't already, and never worry about late fees.
            </p>       
            <div class="not-registered">
                <p>Not registered for Dais account management? <a clicktracking=off href="https://daisonlinebillpay.daistechnologies.com/esp/Registration">Click here</a> to register now!</p>
                <p><strong>Please Note:</strong> You must have your most recent invoice in order to register online.</p>
                <p>For any questions or concerns, please reply to this email or contact us at (800) 376-9715.</p>
                <p>Our customer service agents are available 24/7 and will be more than happy to assist you.</p>
            </div>
            <p class="other-payment-options">
                <strong><u>Other Payment Options:</u></strong>
                <p>
                    <strong>Phone: </strong> (800) 376-9715
                </p>
                <p>
                    <strong>Mail: </strong> DAIS, 4558 35th Street, Orlando FL 32811
                </p>
            </p>
        </div>
    </body>
</html>