<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Untitled Document</title>
        <style type="text/css">
            body {
                font-family: Calibri, Verdana, Geneva, sans-serif;
                font-size: 14px;
            }
            .container {
                width: 600px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <p>Dear Dais Customer:</p>

            <p>We have been working diligently with our website vendor, to correct an issue that has prevented you from accessing your account and monthly statement electronically.</p>

            <p>We are very close to having this issue resolved, and will notify you as soon as it is rectified.</p>

            <p>Please rest assured that your account will not be adversely affected with late charges, or other account impacting scenarios, while we correct this situation.</p>

            <p>Thank you for patience while we address this situation.</p>

            <p>Sincerely,</p>

            <p>Dais Communications</p>
        </div>
    </body>
</html>
